.container {
  margin: 0.8rem;
  background-color: #dfe3e6;

}


.textareaField {
  font-family: inherit;
  display: block;
  padding: 0.8rem;
  min-height: 8rem;
  background: #fff;
  width:28rem;
  border-radius: 3px;
  outline: none;
  border:none;
  resize: none;
  overflow: hidden;


}

