.board {

  height:100vh;
  background: #fff;
  display: flex;


}


.board__item {
  display: inline-block;
  width: 22rem;
  height:10rem;
  margin-right: 1rem;
  margin-left: 2rem;
  color: #fff;
 background-color: rgb(0, 121, 191);
  position: relative;
  top:3rem;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
  word-wrap: break-word;

  &:hover {
    background: darken(rgb(0, 121, 191),6%);
  }

  &__title {
    margin-left: 0.7rem;
  }





}

.add_board__input{
  display: inline-block;
  padding:1rem;
  width: 22rem;
  height:10rem;
  margin-right: 1rem;
  margin-left: 2rem;
  color: black;
  background: #d7d7d7;
  position: relative;
  top:3rem;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  border: none;
  font-weight: 500;
  font-size: 1.6rem;
  resize: none;
  overflow: hidden;
  font-family: inherit;
}

.board__title {
  padding:0.6rem;
  font-size: 1.8rem;
  font-weight: bold;

}


.board__empty__title {
  margin:1rem;
  text-align: center;
}