// color variables



// font variables


*,
*::before,
*::after {
  margin:0;
  padding:0;
  box-sizing: inherit;

}


html {
  box-sizing: border-box;
  font-size: 62.5%;


}

body {
  font-size: 1.6rem;
}

