.TextFieldInput__Label {
  color:#4d4d4d;
  display: flex;

}
.inputField {
  background: #edeff0;
  border:1px solid #cdd2dA;
  padding: 1rem;
  width:100%;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  margin-top:1rem;
  border-radius: 4px;
}

